html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: rgb(224,224,224);
  background: linear-gradient(90deg, rgba(224,224,224,1) 30%, rgba(122,117,117,1) 69%);
}
/*hello*/
body {
  margin: 0px;
}
.logo{
  margin: 10px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(53, 79, 193);
  margin: 0px;
  width: 100%;
}
.nav-bar > img {
  margin-top: 10px;
}

.nav-content {
  list-style: none;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-content > li {
  padding: 10px;
  min-width: 130px;
}

.nav-content > li > a {
  text-decoration: none;
  color: black;
  transition-duration: 0.5s;
  padding: 10px;
}

.nav-content > li :hover {
  background-color: yellow;
}

.bars-icon {
  margin-top: 10px;
  margin-right: 5px;
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-content {
    display: none;
  }

  .bars-icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar.responsive {
    position: relative;
  }
  .nav-bar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar.responsive > .nav-content {
    float: none;
    display: block;
    text-align: left;
  }
}
:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}

* {
  box-sizing: border-box;
}
.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: px;
}
.title {
  width: 100%;
  transition: all 0.5s;
  opacity: 0;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
  opacity: 1;
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

.games-flex{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 50px;
}

.text{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  margin: 20px;
  margin-bottom: auto;

}
.line{
  height: 3px;
  width: 100%;
  background-color: rgb(251, 250, 250);
  margin-top: auto;
  margin-bottom: auto;
}
.home-page{
  margin: 50px;
  display: flex;
  flex-direction: column;
}
.pricing{
  background-color: rgb(248, 243, 243);
}
h2{
  color: blue;
}